main
  div#div_ext_reloj.d-flex.justify-content-center.align-items-center.gap-1(style="height: 55vh; padding-top: 25vh")
    div#div_int_reloj.gap-1.d-block
      if(mensaje)
        h4 #{mensaje}
        br
      
      //- FORMULARIO MEJORADO (sin onsubmit en el HTML)
      form(id="formRegistro" action="/acceso/registrarse" method="POST")
        input(id="id" name="id" type="text" required placeholder="ID de usuario")
        br
        br
        input(id="password" name="password" type="password" required placeholder="Contraseña")
        br
        br
        
        //- Campos ocultos para las preferencias
        input(type="hidden" name="preferencias[color_fondo]" id="pref_fondo")
        input(type="hidden" name="preferencias[color_fuente]" id="pref_fuente")
        input(type="hidden" name="preferencias[tamano_hora]" id="pref_hora")
        input(type="hidden" name="preferencias[tamano_segundos]" id="pref_segundos")
        input(type="hidden" name="preferencias[tamano_fecha]" id="pref_fecha")
        
        div.d-flex.justify-content-center
          button.btn.btn-primary.btn-sm(type="submit") Registrarse
        br
        
      div.d-flex.justify-content-center
        a(href='/acceso/eliminar-cuenta')
          button.btn.btn-primary.btn-sm(type="button") Eliminar la cuenta
